# OS
.DS_Store

# Dependencies
node_modules/

# Build outputs
dist/
build/
coverage/

# Turborepo
.turbo/

# Env
.env
.env.*
!.env.example

# Logs
*.log
pnpm-debug.log*

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
